/* Encabezado.css */
.encabezado {
  background-color: #111;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid #2b2b2b;
  margin-bottom: 20px;
}
.encabezado__titulo {
 color: rgb(180, 6, 6);
  margin: 0;
  font-size: 32px;
}
.encabezado__subtitulo {
   color: rgb(180, 6, 6);
}
