.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 16px;
  margin: 10px 0;
  background-color: #161616;
  border: 1px solid #2c2c2c;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.item:hover {
  border-color: #f59e0b;
  transform: translateY(-2px);
}

.item__texto {
  font-size: 16px;
  margin: 0;
  color: white;
  font-weight: 500;
}

.item__estado {
  font-size: 13px;
  color: #b3b3b3;
  margin: 0;
}